body {
	margin: 0;
	background-image: url("../images/full-bloom.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding:0;
	color: #777;
}

.header-container {
    width: 100%;
    background-color: #fff;
    border-bottom-style: solid;
	border-width: 2px;
	border-color: #ccc;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
	margin-top: 0;
	
}

.title {
	color: #fff;
	background-color: #4aaaa5;
	padding: 25px;
	width: 335px;
	float: left;
	margin-bottom: 0px;

}

header {
	background-color: #fff;
	padding: 0px;
	margin: 0 auto;
}

.header {
	width:100%;
	background-color: #fff;
	margin-bottom: 0px;
	padding: 0px;
}

.active {
	color: #333;
}

nav {
	float: right;
	padding-top: 45px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 7px;
    padding-left: 7px;
    display: block;
    border-right: 1px solid #ccc;
}

li a {
    color: #777;
}

li a.link {
    text-decoration: none;
}

li a.visited {
    text-decoration: none;
}

.last {
    padding-right: 0;
    margin-right: 0;
	border: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.content {
    background-color: #fff;
    margin-top: 25px;
    padding:25px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #ccc;

}

#headshot {
	float: left;
	margin: 0 15px 0 0;
	width: 121px;
}

.content-foot {
    margin-bottom: 100px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	margin-top: -50px;
	background-color:#666;
	text-align: center;
	border-top-style: solid;
	border-width: 4px;
	border-color: #4aaaa5;
	padding-bottom: 0;
	z-index: 3;
  }
 
  #foot {
	color: #fff;
	font-size: .7em;
	margin-top: 30px;
  }

  input[type=text], textarea {
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	line-height: 2;
	text-indent: 10px;
}

input[type=submit] {
	background-color: #4aaaa5;
	color: #fff;
	padding: 5px 15px;
	margin-bottom:10px;
}

.image {
	position: relative;
	z-index: 1;

}

.portfolio-p {
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
}

.h2-style {
	text-align: center;
	background-color: #4aaaa5;
	padding: 15px 0;
	margin: -65px 0px 0px;
	position: relative;
	z-index: 2;
	border: none;
}

.h2-style a {
	color: #fff;
	text-decoration: none;
}

@media only screen and (max-width: 980px) {
	.container {
		margin-left: 50px;
	}
	.content {
		width: 650px;
	}
	nav {
		margin-right: 50px;
	}
}

@media only screen and (max-width : 768px) {
	nav {
		margin-right: 50px;
	}
	.content {
		width: 90%;
	}
	textarea {
		height: 150px;
	}
	.portfolio-p {
		width: 45%;
		margin: 20px auto;
		padding: 20px;
	}
	.image {
		width: 100%;
	}
	#headshot {
		width: 200px;
	}
	p {
		font-size: 1.7em;
	}
	li {
		font-size: 1.4em;
	}
}

@media only screen and (max-width : 640px) {
	.container {
		width: 100%;
		margin: 0;
	}
	.title {
		width: 100%;
		float: none;
		margin: auto;
		padding: 20px 0;
	}
	h1{
		text-align: center;
		width: 100%;
		margin: auto;
	}
	.header-container {
		width: 100%;
	}
	header.clearfix {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.header {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	nav {
		margin: 0;
		float: none;
		padding:0;
	}
	.nav-cont {
		width: 200px;
		margin: 0 auto;
		padding: 15px 0;
	}
	#headshot {
		width: 300px;
	}
	.image {
		width: 400px;
	}
	.portfolio-p {
		width: 100%;
	}
	.h2-style {
		width: 400px;
	}
	.content h2 {
		font-size: 2em;
	}
}

